[Unit]
Description=Musicbox Buttons
PartOf=musicbox.service
After=musicbox.service

[Service]
Type=simple
WorkingDirectory=/home/pi/musicbox
User=pi
ExecStart=/usr/bin/python3 /home/pi/musicbox/buttons.py
Restart=always
RestartSec=30

[Install]
WantedBy=musicbox.service
