[Unit]
Description=Musicbox Rotary
PartOf=musicbox.service
After=musicbox.service

[Service]
Type=simple
WorkingDirectory=/home/pi/musicbox
User=pi
ExecStart=/usr/bin/python3 /home/pi/musicbox/rotary.py
Restart=always
RestartSec=3

[Install]
WantedBy=musicbox.service
